<!--

    Template for card that has data

-->
<div class="col s12 m6 l4">
    <div class="card small" id=<%=data.day%>>
        <div class="card-content">
            <div class="card-title">
                <%= data.day %>
            </div>
            <p> <%= data.recipe.name %> : </p>
            <ul class="collection">
                <%      for (let ingredient of data.recipe.ingredients){ %>
                            <li class="collection-item"> <%= ingredient.name %> </li>
                <%      } %>
            </ul>
            <div class="card-action">
                <a value=<%= data.day%> href="#!" onclick="selectRecipe(this)"></a>
            </div>

        </div>
    </div>
</div>