<!--

    Template for card that has data

-->
<div class="col s12 m6 l4">
    <div class="card medium" id=<%=data.day%>>
        <div class="card-content">
            <div class="card-title">
                <%= data.day %>
            </div>
            <p> <%= data.recipe.name %> : </p>
            <div style="overflow:scroll;">
                <ul class="collection" style="overflow:scroll">
                    <%      for (let ingredient of data.recipe.ingredients){ %>
                                <li class="collection-item"> <%= ingredient.name %> </li>
                    <%      } %>
                </ul>
            </div>
            <div class="card-action centered white" data.day=<%= data.day%>>
                <button class="btn waves-effect waves-light red col s6" onclick="selectNewRecipe(this)" value=<%=data.day%>>Select New Recipe</button>
                <button class="btn waves-effect waves-light red col s6" onclick="clearRecipe(this)" value=<%=data.day%>>Clear Recipe</button>
            </div>
        </div>
    </div>
</div>