<!--

    Template for card that has data

-->
<div class="col s12 m6 l4">
    <div class="card small" id=<%=data.day%>>
        <div class="card-image">
            <img class="responsive-img activator" src="/img/bolognese.jpeg">
        </div>
        <div class="card-content">
            <span class="card-title">
                    <%= data.day[0].toUpperCase()+data.day.substring(1) %>: <%= data.recipe.name %>
            </span>
        </div>
        <div class="card-action centered white" data.day=<%= data.day%>>
            <button class="btn waves-effect waves-light red col s6" onclick="selectNewRecipe(this)" value=<%=data.day%>>Select New Recipe</button>
            <button class="btn waves-effect waves-light red col s6" onclick="clearRecipe(this)" value=<%=data.day%>>Clear Recipe</button>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text small-text text-darken-3"><%= data.recipe.name %> <i class="material-icons right">close</i> </span>
            <p>Description of recipe...</p>
        </div>
    </div>
</div>