<!-- 

    groceries.ejs

    A template for displaying the 

 -->

 <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">Your shopping list: </div>
                        <table class="highlight responsive-table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Quantity</th>
                                    <th>Cost</th>
                                    <th>Protein</th>
                                    <th>Fat</th>
                                    <th>Carbs</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%
                                    let tableGroceries = groceries.reduce((acc,grocery) => {
                                        if ((acc.map(item => item.name)).includes(grocery.name)){
                                            acc.map(item => {
                                                if (item.name == grocery.name){
                                                    item.nutrition.proteins += grocery.nutrition.proteins;
                                                    item.nutrition.fats += grocery.nutrition.fats;
                                                    item.nutrition.carbohydrates += grocery.nutrition.carbohydrates;
                                                    item.nutrition.calories += grocery.nutrition.calories;
                                                }
                                            })
                                        } else {
                                            acc.push(grocery);
                                        }
                                        return acc
                                    },[])


                                %>
                                <% for (let item of tableGroceries){ %>
                                <tr>
                                    <th><%= item.name %></th>
                                    <th><%= item.amount %>g</th>
                                    <th>£<%= (item.cost/100).toFixed(2) %></th>
                                    <th><%= item.nutrition.proteins %>g</th>
                                    <th><%= item.nutrition.fats %></th>
                                    <th><%= item.nutrition.carbohydrates %></th>
                                    <th><%= item.nutrition.calories %></th>
                                </tr>
                                
                                
                                <% } %>

                            </tbody>
                        </table>
                        <br>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Cost</th>
                                    <th>Protein</th>
                                    <th>Fat</th>
                                    <th>Carbs</th>
                                    <th>Calories</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Totals :</th>
                                    <th></th>
                                    <th><%= groceries.map(item => item.cost).reduce((acc,ele) => (acc+ele),0) %></th>
                                    <th><%= groceries.map(item => item.nutrition.proteins).reduce((acc,ele) => (acc+ele),0) %></th>
                                    <th><%= groceries.map(item => item.nutrition.fats).reduce((acc,ele) => (acc+ele),0) %></th>
                                    <th><%= groceries.map(item => item.nutrition.carbohydrates).reduce((acc,ele) => (acc+ele),0) %></th>
                                    <th><%= groceries.map(item => item.nutrition.calories).reduce((acc,ele) => (acc+ele),0) %></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <a href="/api/users/groceries" download>Download</a>
                        <!--<a href="#!">Modify</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>